%field {
    width: 100%;
	position: relative;
	margin-top: 9px !important;
	margin-bottom: 9px !important;

    input {
        @extend %input-style;
    }

    label {
		position: relative;
		top: 26px;
		left: 0;
		font-size: 18px;
		transition: 0.2s;
		cursor: initial;
	}

    label[for="ship-state"] {
		top: 0;
	}

    &.required label {
        &::after {
            content: "*";
        }
    }

    &.filled,
	&:focus-within {
		label {
			top: 0;
			font-size: 14px;
		}
	}
}