// _global.scss

body {
  font-family:$fontFamily;
  min-width: initial !important;
  padding: 0;
  background: $base;

  min-height: calc(100vh - 170px);
  position: relative;
  font-size: $fontSize;

  overflow-x:hidden;

  a {
    color:$actionPrimary;
    &:hover {
      color:$actionPrimaryDarken;
    }
  }

  @media(max-width: 768px) {
    padding-bottom:0px !important;
  }

  //short preloader to don't show a empty cart
  .cart-template.full-cart {
    > * {
      opacity: 0;
      transition-delay:1.2s;
      transition-property: opacity;
      -webkit-transition-duration:0.5s;
    }
  }
  &.v-custom-loaded {
    .cart-template.full-cart {
      > * {opacity: initial;}
    }
  }
  //end short preloader to don't show a empty cart

  &.v-custom-step-email {
    #orderform-to-cart {
      display: inline-block;
    }

    p.client-document + div {
      width: calc(50% - 12px);
      margin-left: 24px !important;
    }

    p.client-phone {
      width: 100% !important;
    }

    p.client-date-birth,
    p.client-whatsapp,
    .pj-information,
    .whatsapp-optin,
    .newsletter-optin,
    .terms-and-policies {
      display: none;
    }
  }
}

.onda-v1 .br-pill,
.step, .cart, .totalizers {
	border-radius:$borderRadius;
}

.loading.loading-bg {
  background:$base;
}

// containers

.container {
  max-width: 1440px;
  width:calc(100% - 40px);
  @media(max-width: $mobileWidth) {
    width:calc(100% - 20px);
  }
}



.checkout-container {
  overflow: initial !important;
  display: flex;
  justify-content: center;

  @media(max-width: 768px) {
    margin-bottom: 30px;
  }

  .orderform-template,
  .cart-template {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    transition:position ease 0.8s, opacity ease 0.8s, margin ease 0.8s;
    max-width: 1280px;
    justify-content: center;

    &.inactive {
      max-height: 50vh;
      overflow:hidden;
      top:0;
      position: absolute;
    }
  }
  .full-cart {
    &.inactive {
      margin-left: -140%;;
    }
  }
  .orderform-template {
    &.inactive {
      left: 140%;
      margin: 0;
      display:none !important;
    }
  }
}


//titles

  .container-cart h1,
  h1#orderform-title {
  	font-size: 22px !important;
    font-weight: 400 !important;
    color: $muted1 !important;
  }

  h1#orderform-title {display:none !important;}


// assemblies custom vtex

  .v-custom-assemblies {
    margin: 10px 0 3px 0;
    overflow: hidden;
    border-top: 1px solid $muted4;
    padding-top: 7px;
    @media(max-width: $mobileWidth) {
      width: 100%;
      left:0;
      margin-bottom: 2px;
    }

    p {display: none;}
    &__values {
      list-style: none;
      padding: 0;
      margin: 0;

      &__item {
        strong {
          &:after {content:":";}
        }
        span, strong {line-height: 14px;}
      }
    }

  }

  .invalid-postal-code-msg, .invalid-postal-inventory {
    display: none;
    max-width: 566px;

    body.body-cart & {
        margin-top: 16px;
    }

    body.invalid-postal-code & {
        display: block;
    }

    &__label {
        display: inline-block;
        margin: 8px 0;
        font-size: 12px;
        color: #D62E2E;

        body.body-cart & {
            display: none;
        }
    }
    &__message {
        font-size: 14px;
        background: #FEF6F3;
        padding: 16px;
        border-radius: 12px;
        margin-bottom: 16px;
    }
    &__link {
        text-decoration: underline;
        color: #000000;
    }
}

#client-profile-data {
  @media (max-width: 768px) {
    margin-top: 16px;
  }
}

#client-profile-data,
#shipping-data,
#payment-data {
  margin-bottom: 48px !important;

  @media (max-width: 768px) {
    box-sizing: border-box;
    padding: 0 14px !important;
  }

  .step.client-profile-data {
    @media (max-width: 768px) {
      padding: 0 !important;
    }
  }

  .accordion-inner {
    padding: 0;
  }

  .box-info {
    margin-top: 16px;

    &.shipping-summary-placeholder {
      margin-top: 0;
    }
  }

  .accordion-toggle {
    padding:0;
    @extend %steps-title;

    line-height: 20px;
    display: block;

    &:not(.accordion-toggle-active) {
      padding-bottom: 16px;
      border-bottom: 1px solid #9E9E9E;
    }

    > i {display: none;}
  }

  p.notification,
  .shipping-summary-info {
    display: block;
    margin-top: 16px;
    font-size: 14px;
    color: #555555;
    font-weight: bold;
  }

  .link-box-edit {
    background: none;
    box-shadow: none;
    border: none;
    color: #000000;
    outline: none;

    position: absolute;
    right: 122px;
    top: auto;
    bottom: -35px;
    padding: 1px;
    font-size: 14px;
    z-index: 10;
    opacity: 1;

    @media (max-width: 768px) {
      right: 0;
    }

    &::after {
      content: "Editar";
      text-decoration: underline;
      color: #000000;
    }

    i {
      display: none;
    }
  }
}
//BESPOKE
.customBespokeRemove + a {
  display: none;
}

tr[install-item=true] .quantity{
  display: none !important;
}
