body {
  .main-header {
    text-align: center;
    position:relative;
    background-color: #FFF;
    margin-bottom:40px;
    color: #000;

    .container {
      display: grid;
      grid-template-areas:
        'logo secure'
        'backtocart backtocart'
        'steps steps';
      align-items: center;
      justify-content: space-between;

      @media screen and (max-width: 768px) {
          width: fit-content;
      }
    }

    > .container {
      &:before,
      &:after {display: none;}
    }

    .checkout-secure-buy {
      font-weight: bold;
      text-align: right;
      grid-area: secure;
    }

    @media (max-width: $mobileWidth) {
      padding: 15px 10px;
      margin-bottom: 15px;
    }

    a {
      grid-area: logo;
      display: flex;
      min-height: 85px;
    }

    .checkout-steps {
      display: none;
      grid-area: steps;
      max-width: 540px;
      margin: 0 auto;
      min-height: 104px;
    }
  }
}

