body {
  .main-header {
    padding: 32px 16px;
    text-align: center;
    position:relative;
    background-color: #FFF;
    margin-bottom:40px;
    color: #000;

    &, > .container {
      display:flex;
      align-items: center;
      justify-content: space-between;
    }

    > .container {
      &:before,
      &:after {display: none;}
    }

    .checkout-secure-buy {
      font-weight: bold;
    }

    @media (max-width: $mobileWidth) {
      padding: 15px 10px;
      margin-bottom: 15px;
    }
  }
}

