
input, select, button {
	outline: none !important;
}
//input

%input-style {
	font-size: 18px;
	font-weight: 400;
	padding: 8px 0;
	margin-bottom: 8px;
	box-shadow: none;
	border: 0;
	border-radius: 0;
	color: #000000;
	background: #FFFFFF;
	border-bottom: 1px solid #555555;

	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;

	&::placeholder {
		color: #8F8F8F;
		opacity: 0;
	}

	&.success:not([invalid="true"]) {
		background-image: none;
	}

	&.error {
		border-color: $danger;
	}
	
	~ span.error {
		// position: absolute;
		margin-top: 0;
		font-size: 12px;
	}
}


input#creditCardpayment-card-0Number,
input#creditCardpayment-card-0Code,
input#creditCardpayment-card-1Number,
input#creditCardpayment-card-1Code{
	font-size:18px;
}

//remove autofill from chrome

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
    animation: input_background_autofill 0s forwards;
}
@keyframes input_background_autofill {
    100% { background-color: transparent }
}