fieldset.pre-email.row-fluid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.wrongdomain { 
  color: red;
  font-size: 12px;
  display: block;
  margin-top: 5px;
}

h3.client-pre-email-h {
  flex-basis: 100%;
  padding-bottom: 30px;
}

.client-pre-email {
  border: none;
  left: 0;

  @media screen and (max-width: $mobileWidth) {
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
  }

  #orderform-to-cart {
    display: none;
    font-size: 13.5px;
    font-weight: 700;
    letter-spacing: 1.2px;
    color: #000;
    text-transform: uppercase;
    text-decoration: underline;

    @media screen and (max-width: $mobileWidth) {
      display: none;
    }
  }

  .samsung-account-container {
    display: inline-block;
    flex-basis: 50%;
    color: #000;

    @media screen and (max-width: $mobileWidth) {
      flex-basis: 100%;
      margin-bottom: 15px;
    }

    #btn-samsung-account {
      font-family: "SamsungOne";
      font-size: 14px;
      background: #2189ff;
      color: white;
      border-radius: 20px;
      border: none;
      padding-block: 10px;
      font-weight: 700;
      width: 330px;
      @media screen and (max-width: 480px) {
        width: 100%;
      }
    }
  }

  .client-pre-email .client-pre-email-h span {
    display: block;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    color: #373737;
    margin-bottom: 15px;
  }

  .client-pre-email-h {
    label {
      margin: 0;
    }

    span {
      font-size: 0px !important;

      &:after {
        display: block;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 15px;
        color: #000;
        content: "Escolha uma opção de identificação para finalizar sua compra";

        @media screen and (max-width: $mobileWidth) {
          font-size: 17px;
          line-height: 1.5;
          margin-bottom: 5px;
        }
      }
    }

    small {
      display: none;
    }
  }

  .samsung-account-label {
    margin: 12px 0px;
  }

  .samsung-account-create {
    @media screen and (max-width: $mobileWidth) {
      margin-bottom: 10px;
      border-bottom: 1px solid $muted4;
      padding-bottom: 15px;
    }
  }

  .client-email {
    color: #000;
    &:before {
      content: "Digite seu e-mail para finalizar sua compra";
      display: block;
      padding-bottom: 25px;
      font-size: 14px;
      font-weight: bold;
    }
    margin: 0;
    flex-basis: calc(50% - 1px);
    border-left: 1px solid $muted4;
    padding-top: 25px;

    @media screen and (max-width: $mobileWidth) {
      flex-basis: 100%;
      border-left: none;
    }

    @media screen and (max-width: $mobileWidth) {
      padding: 0;
    }

    .loading-inline {
      margin: 12px 0;
      top: 100%;
      left: calc(50% - 10px);
      right: auto !important;
      transform: translateX(-50%);
    }

    #client-pre-email {
      border: none;
      border-bottom: 1px solid #000;
      border-radius: 0;
      box-shadow: none;
      font-size: 18px;
      color: #7b7b7b;
      height: 35px;
      background: #0000;
      width: 326px;

      @media screen and (max-width: 480px) {
        width: 100%;
      }
    }

    #btn-client-pre-email {
      position: unset;
      height: 40px;
      border-radius: 20px;
      background: #fff;
      font-size: 14px;
      font-weight: 700;
      color: #000;
      width: 326px;
      outline: none;
      border: 1px solid #000;
      font-family: "SamsungOne";
      margin-top: 30px;

      @media screen and (max-width: 480px) {
        width: 100%;
      }
    }

    #btn-client-pre-email:hover {
      color: #555;
      background-color: rgba(0, 0, 0, 0.05);
      border-color: #555;
    }

    .help.error {
      font-size: 13px;
      text-align: center;
      color: #1428a0;

      &:before {
        content: "*";
      }
    }
  }

  .emailInfo {
    max-width: 1050px;
    width: 100%;
    margin: 50px auto 0;
    border: none;
    background: none;

    @media screen and (max-width: $mobileWidth) {
      padding: 0;
    }

    h3 {
      margin: 0 0 34px;
      font-size: 14px;
      font-weight: normal;
      text-align: center;
      color: #000;

      @media screen and (max-width: $mobileWidth) {
        font-size: 14px;
        margin-bottom: 15px;
      }
    }

    ul.unstyled {
      display: flex;
      width: 100%;
      margin: 0;
      padding: 20px 0;

      @media screen and (max-width: 1024px) {
        display: block;
      }

      li {
        flex: 1;

        .icon-ok {
          display: none;
        }
        span {
          font-size: 12px;
          text-align: center;
          color: #000;
          display: block;

          @media screen and (max-width: 1024px) {
            margin-bottom: 40px;
          }

          &[data-i18n="clientProfileData.bullet1WhyEmail"]:before {
            content: "";
            background: url(https://samsungar.vteximg.com.br/arquivos/fingerprint.png?v=1) no-repeat;
            width: 44px;
            height: 46px;
            display: block;
            margin: 0px auto 15px;
          }

          &[data-i18n="clientProfileData.bullet2WhyEmail"]:before {
            content: "";
            background: url(https://samsungar.vteximg.com.br/arquivos/notification.png?v=1) no-repeat;
            width: 38px;
            height: 46px;
            display: block;
            margin: 0px auto 15px;
          }

          &[data-i18n="clientProfileData.bullet3WhyEmail"]:before {
            content: "";
            background: url(https://samsungar.vteximg.com.br/arquivos/return-to-the-past.png?v=1) no-repeat;
            width: 43px;
            height: 46px;
            display: block;
            margin: 0px auto 15px;
          }

          &[data-i18n="clientProfileData.bullet4WhyEmail"]:before {
            content: "";
            background: url(https://samsungar.vteximg.com.br/arquivos/list.png?v=1) no-repeat;
            width: 36px;
            height: 46px;
            display: block;
            margin: 0px auto 15px;
          }
        }
      }
    }

    .icon-lock {
      display: none;
    }
  }
}

.samsung-toggle-button-container {
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffff;
  position: absolute;
  visibility: visible;
  transition: 0.8s;
  flex-direction: column;
  padding-top: 40px;

  @media screen and (max-width: $mobileWidth) {
    padding-top: 0;
  }
}

.samsung-visitante-title {
  display: block;
  font-size: 12px;
  padding-bottom: 1rem;
}

.samsung-button-login {
  position: unset;
  height: 40px;
  border-radius: 20px;
  background: #fff;
  font-size: 14px;
  font-weight: 700;
  color: #000;
  max-width: 326px;
  width: 100%;
  outline: none;
  border: 1px solid #000;
  font-family: "SamsungOne";
  padding: 10px 0px;
}

.samsung-message-rewards {
  max-width: 330px;
  min-height: 69px;
  background: #fef6f3 0% 0% no-repeat padding-box;
  border-radius: 6px;
  opacity: 1;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 10px;
  padding: 0 15px;
  font-weight: bold;
}
