//steps

  $numberStepSize:26px;


  %countingStepsNormal {
    content: unset;
    background: #FFF;
    border:1px solid $muted1;
    color:$muted1;

    width:$numberStepSize;
    height: $numberStepSize;
    line-height: $numberStepSize;
    font-size: 15px;

  }

  %countingStepsActive {
    content: unset;
    background:$actionPrimary;
    border-color:$actionPrimary;
    color:#FFF
  }

  %countingStepsFilled {
    @extend %countingStepsActive;
  }



  //keep attention changing anything below

  @if $countingSteps {
    .client-pre-email h3.client-pre-email-h span:before,
    .client-profile-data .accordion-toggle > span:before,
    .shipping-data .accordion-toggle:before,
    .payment-data .accordion-toggle > span:not(.payment-edit-link):before {

      @extend %countingStepsNormal;

      text-align: center;
      margin-right:10px;
      border-radius: 100%;

      display: inline-block;

      font-weight:bold;
      vertical-align: middle;
      margin-top: -2px;
    }
  }


  %checkout-steps-active {
    color:$muted1;
    font-weight: bold;
    pointer-events: initial;
  }

  body {
    .checkout-steps_items {
      .checkout-steps_item {
        .text {
          width: fit-content;
          white-space: nowrap;
        }
      }
    }
    .checkout-steps_item_cart,
    .checkout-steps_item_confirmation {
      display: none !important
    }
    .checkout-steps_item_payment {
      max-width: fit-content !important;
    }
    &.v-custom-step-cart .checkout-steps_item_cart {
      opacity: 1;
      .text {
        @extend %checkout-steps-active;
        pointer-events: none;
      }
      &:before {background: #000;border-color: $actionPrimary;}
    }
    &.v-custom-step-email,
    &.v-custom-step-profile{

      .checkout-steps_bar_inner-active {width: 20%;}
      .checkout-steps_item_cart,
      .checkout-steps_item_identification {
        opacity: 1;
        .text {
          @extend %checkout-steps-active;
        }
        &:before {background: #000 ;border-color: $actionPrimary;}
      }
      .checkout-steps_item_identification .text {pointer-events: none;}

      .client-pre-email h3.client-pre-email-h span:before {
        @extend %countingStepsActive;
      }
    }

    &.v-custom-step-shipping {
      .checkout-steps_bar_inner-active {width: 40%;}
      .checkout-steps_item_cart,
      .checkout-steps_item_identification,
      .checkout-steps_item_shipping {
        opacity: 1;
        .text {
          @extend %checkout-steps-active;
        }
        &:before {background: #000;border-color: $actionPrimary;}
      }
      .checkout-steps_item_shipping .text {pointer-events: none;}
    }

    &.v-custom-step-payment {
      .checkout-steps_bar_inner-active {width: 60%;}
      .checkout-steps_item_cart,
      .checkout-steps_item_identification,
      .checkout-steps_item_shipping,
      .checkout-steps_item_payment {
        opacity: 1;
        .text {
          @extend %checkout-steps-active;
        }
        &:before {background: #000;border-color: $actionPrimary;}
      }
      .checkout-steps_item_payment .text {pointer-events: none;}
    }

    &.v-custom-step-profile {
      .client-pre-email h3.client-pre-email-h span:before {
        @extend %countingStepsFilled;
      }

      .client-profile-data .accordion-toggle > span:before {@extend %countingStepsActive;}
    }
    &.v-custom-step-shipping {

      .client-pre-email h3.client-pre-email-h span:before,
      .client-profile-data .accordion-toggle > span:before {
        @extend %countingStepsFilled;
      }

      .shipping-data .accordion-toggle:before {@extend %countingStepsActive;}
    }
    &.v-custom-step-payment {

      .client-pre-email h3.client-pre-email-h span:before,
      .client-profile-data .accordion-toggle > span:before,
      .shipping-data .accordion-toggle:before {
        @extend %countingStepsFilled;
      }

      .payment-data .accordion-toggle > span:not(.payment-edit-link):before {@extend %countingStepsActive;}
    }
  }
  .checkout-steps {
    display: none;
    position: relative;
    min-width: 470px;
    width:100%;
    @if $showCheckoutSteps {
      display: block;
    }
    @media(max-width: $mobileWidth) {

    }

    &-wrap {

    }

    /*
    &_bar_inner,
    &_bar_inner-active {
      width: calc(100% - 20%);
      height: 3px;
      background: $actionSecondary;
      display: block;
      margin: 0 auto;
      position: absolute;
      left: 10%;
      top: 7px;
      transition: all ease 0.3s;
    }
    */

    &_bar_inner-active {width:0;background: $actionPrimary;}

    &_items {
      display:flex;
      justify-content: space-between;
    }

    &_item {
      position:relative;
      text-align: center;
      flex-grow: 1;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      opacity:0.6;
      font-weight: normal;

      &:after {
        content:"";
        height:1px;
        background: #DDD;
        margin: 0px 5px;
        min-width: 10px;

      }

      .text {
        clear: both;
        display: block;
        color: #000;
        font-weight: 500;
        cursor:pointer;
        pointer-events: none;

        &:before {
          content: attr(data-before);
          color: #FFF;
          font-size: 14px;
          display: flex !important;
          justify-content: center;
          align-items: center;
          width: 24px;
          height: 24px;
          background: #000;
          border-radius: 100%;
          margin: 0 auto;
          transition: all ease 0.3s;
        }

        &.current {
          &:before {
            background-color: #2189FF;
          }
        }
      }

      &_cart:after {width: calc(100% - 50px);}
      &_identification:after {width: calc(100% - 103px);}
      &_shipping:after {width: calc(100% - 77px);}
      &_payment:after {
        width: calc(100% - 77px);
        display: none !important;
      }
      &_confirmation:after {display:none;}
    }
  }


//Custom color for step selected.
.v-custom-step-shipping {
  .v-custom-step-shipping.checkout-steps_item {
    .text:before {
      background-color: #2189FF;
    }
  }
}

.v-custom-step-profile {
  .v-custom-step-profile.checkout-steps_item {
    .text:before {
      background-color: #2189FF;
    }
  }
}

.v-custom-step-payment {
  .v-custom-step-payment.checkout-steps_item {
    .text:before {
      background-color: #2189FF;
    }
  }
}

//end steps
