
//titles in third step checkout

%steps-title {
	font-size: $fontSize + 8px;
  font-weight: bold;
  margin-bottom: 15px;

  &::before {
    content: unset;
  }

  @if $countingSteps {
  	color: $muted1;
	  border: none;
	  text-transform: initial;
	  margin-bottom: 0px;
  }
  
}
