#shipping-data {
  .vtex-omnishipping-1-x-shippingDataDev {
    &:not(.active) {
      @media (max-width: 768px) {
        display: none;
      }
    }
  }
  .vtex-omnishipping-1-x-toggleInner {
    top: 2px;
    margin: 0;
    left: 2px;

    &Active {
      left: auto !important;
      right: 2px;
    }
  }

  .step.shipping-data.active {
    .accordion-inner.shipping-container {
      grid-template-columns: 1fr auto;
    }
    .box-step {
      max-width: 448px;
    }
  }

  .vtex-omnishipping-1-x-addressFormPart1,
  .vtex-omnishipping-1-x-deliveryGroup,
  .vtex-omnishipping-1-x-addressForm {
    max-width: 448px;
  }

  .vtex-omnishipping-1-x-option:hover,
  .vtex-omnishipping-1-x-leanShippingOptionActive {
    background: #68AEFF1A !important;
  }

  .vtex-omnishipping-1-x-leanShippingOption {
    border: 0;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 13px;
    align-items: flex-start;
    font-size: 16px;
    color: #000;
    &:hover {
      background: #68AEFF1A !important;
    }

    .vtex-omnishipping-1-x-leanShippingIcon {
      background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="23" height="20" fill="none" xmlns:v="https://vecta.io/nano"><path d="M16.754 17.031a2.72 2.72 0 0 1-1.702-.586c-.465-.373-.767-.886-.851-1.445H8.764c-.083.559-.385 1.072-.85 1.445a2.72 2.72 0 0 1-1.702.586 2.72 2.72 0 0 1-1.702-.586c-.465-.373-.767-.886-.85-1.445H2.087c-.213 0-.417-.077-.567-.213s-.235-.322-.235-.516V3.646c0-.193.085-.379.235-.516s.354-.214.567-.214h12.375c.213 0 .417.077.567.214s.235.322.235.516v1.563h3.762c.453.009.889.156 1.239.419s.591.624.686 1.026l1.419 6.704a1.27 1.27 0 0 1-.01.607c-.053.199-.153.386-.294.546a1.52 1.52 0 0 1-.533.366 1.66 1.66 0 0 1-.654.124h-1.573c-.083.559-.385 1.072-.85 1.445a2.72 2.72 0 0 1-1.702.586zm0-3.75a1.66 1.66 0 0 0-.768.188 1.51 1.51 0 0 0-.552.49 1.32 1.32 0 0 0-.169.355c-.038.122-.057.247-.057.374.001.105.014.21.04.313.078.308.267.583.537.781s.617.312.97.313.695-.111.97-.312.459-.474.537-.781c.026-.103.04-.207.04-.312a1.31 1.31 0 0 0-.226-.729c-.136-.203-.326-.371-.553-.49a1.66 1.66 0 0 0-.768-.187zm-10.542 0a1.66 1.66 0 0 0-.768.188 1.51 1.51 0 0 0-.553.49 1.31 1.31 0 0 0-.226.729 1.31 1.31 0 0 0 .04.313c.078.308.267.583.537.781s.617.312.97.313.696-.111.97-.312.459-.474.537-.781c.026-.102.039-.207.04-.312a1.31 1.31 0 0 0-.226-.729 1.51 1.51 0 0 0-.553-.49 1.66 1.66 0 0 0-.768-.187zm10.542-.937c.549-.001 1.084.159 1.526.456.433.289.756.694.923 1.158h1.676a.42.42 0 0 0 .166-.025c.052-.019.1-.049.138-.087.034-.041.056-.089.067-.139s.009-.103-.004-.152l-.598-2.825h-2.983a.72.72 0 0 1-.483-.184c-.128-.117-.199-.276-.199-.441V7.814c0-.165.071-.324.199-.441a.72.72 0 0 1 .483-.184h2.233l-.071-.337c-.045-.165-.147-.312-.291-.421a.92.92 0 0 0-.509-.18h-3.762v6.528c.434-.283.955-.435 1.49-.435zm-10.542 0c.549-.001 1.084.159 1.526.456.433.289.756.694.923 1.158h5.458v-10H2.431v10h1.332c.167-.464.49-.869.923-1.158.441-.297.976-.457 1.525-.456zM17.9 8.021v1.875h2.572l-.397-1.875H17.9z" fill="%23000"/></svg>');
      width: 23px;
      height: 20px;
      svg {
        display: none;
      }
    }

    .vtex-omnishipping-1-x-leanShippingTextLabel {
      font-weight: 400;
      font-size: 0;
      color: #000;
      line-height: unset;
      padding: 0;
      margin: 0;
      &::after {
        content: 'Após aprovação do pagamento';
        font-size: 14px;
      }
    }

    .vtex-omnishipping-1-x-leanShippingText {
      border: 0;
      display: flex;
      flex-direction: column-reverse;
    }

    .vtex-omnishipping-1-x-leanShippingTextLabelSingle {
      font-size: 14px;
      color: #000000;
    }

    .vtex-omnishipping-1-x-optionPrice {
      font-weight: bold;
      color: #006BEA;
      font-size: 14px;
      text-align: right;
    }
  }

  .vtex-omnishipping-1-x-addressFormPart1 {
    margin-bottom: 16px;

    // Field
    p.input {
      @extend %field;

      &.ship-postalCode {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
      }

      &.ship-postalCode > small {
        display: block;
        margin-block: 8px;
      }

      &.ship-postalCode > small a {
        font-size: 12px;
        margin-left: 16px;
        color: #000000;
        text-decoration: underline;
      }

      input#ship-postalCode {
        body.invalid-postal-code & {
          border-color: $danger;
          border-width: 2px;
        }
      }
    }
  }

  .vtex-omnishipping-1-x-deliveryGroup {
    margin-top: 0;
    margin-bottom: 0;

    [class*='scheduleActive'].required + div::after {
      content: 'Você deve agendar data e horário da sua entrega';
      position: absolute;
      color: #dd4b39;
      font-size: 12px;
      margin-top: 8px;
    }
  }

  .vtex-omnishipping-1-x-addressSummaryActive .address-summary {
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    background: none;
    border: none;
    position: relative;
    padding: 0;

    &::before {
      content: '';
      width: 14px;
      height: 20px;
      background-image: url('data:image/svg+xml,<svg width="14" height="20" viewBox="0 0 14 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7 20C6.76667 20 6.56667 19.9333 6.4 19.8C6.23333 19.6667 6.10833 19.4917 6.025 19.275C5.70833 18.3417 5.30833 17.4667 4.825 16.65C4.35833 15.8333 3.7 14.875 2.85 13.775C2 12.675 1.30833 11.625 0.775 10.625C0.258333 9.625 0 8.41667 0 7C0 5.05 0.675 3.4 2.025 2.05C3.39167 0.683333 5.05 0 7 0C8.95 0 10.6 0.683333 11.95 2.05C13.3167 3.4 14 5.05 14 7C14 8.51667 13.7083 9.78333 13.125 10.8C12.5583 11.8 11.9 12.7917 11.15 13.775C10.25 14.975 9.56667 15.975 9.1 16.775C8.65 17.5583 8.275 18.3917 7.975 19.275C7.89167 19.5083 7.75833 19.6917 7.575 19.825C7.40833 19.9417 7.21667 20 7 20ZM7 9.5C7.7 9.5 8.29167 9.25833 8.775 8.775C9.25833 8.29167 9.5 7.7 9.5 7C9.5 6.3 9.25833 5.70833 8.775 5.225C8.29167 4.74167 7.7 4.5 7 4.5C6.3 4.5 5.70833 4.74167 5.225 5.225C4.74167 5.70833 4.5 6.3 4.5 7C4.5 7.7 4.74167 8.29167 5.225 8.775C5.70833 9.25833 6.3 9.5 7 9.5Z" fill="%23555555"/></svg>');
      background-repeat: no-repeat;
      display: block;
      position: absolute;
      left: 15px;
      top: 0;
    }

    br {
      display: none;
    }

    .vtex-omnishipping-1-x-teste {
      p.input {
        @extend %field;
      }
    }

    .vtex-omnishipping-1-x-addressFormPart1 {
        margin-bottom: 16px;
    }
    span {
      font-size: 12px;
      color: #000000;

      &.neighborhood-delimiter-after,
      &.state-delimiter {
        display: none;
      }

      &.neighborhood::after,
      &.city::after {
        content: ', ';
        margin-right: 2px;
      }
    }

    > span {
      &:first-of-type {
        display: flex;
        max-width: 100%;
        overflow: hidden;

        .street {
          // min-width: 900px;

          @media (max-width: $mobileWidth) {
            min-width: calc(100vw - 118px);
          }
        }
      }

      &:last-of-type {
        display: none;
      }
    }
  }

  .vtex-omnishipping-1-x-addressForm {
    margin-top: 32px;
    padding-top: 24px;
    margin-bottom: 0px;
    border-top: 1px solid #ddd;

    @media (max-width: 768px) {
      margin-top: 16px;
    }

    // Fields
    p.input {
      @extend %field;

      &.ship-reference {
        display: block !important;
      }

      &.ship-state {
        label {
          top: 0;
          font-size: 14px;
        }
      }

      &.ship-street {
        margin-top: 0 !important;
      }

      &.ship-number,
      &.ship-complement,
      &.ship-city,
      &.ship-state {
        width: calc(50% - 12px);
      }

      &.ship-complement,
      &.ship-state {
        margin-left: 0px !important;
      }

      &.ship-complement label,
      &.ship-reference label {
        display: flex;
        font-size: 0;
      }

      &.ship-complement label::after {
        content: 'Complemento';
        @media (max-width: 768px) {
          font-size: 14px;
        }
      }

      &.ship-reference label::after {
        content: 'Ponto de Referência';
        @media (max-width: 768px) {
          font-size: 14px;
        }
      }

      &.ship-street {
        margin-top: 0 !important;
      }

      &.ship-receiverName {
        margin-bottom: 0 !important;
      }

      select#ship-state {
        height: 34px !important;
        padding: 0;
      }
    }

    input[type='text'],
    input[type='tel'],
    input[type='email'],
    select {
      &:not(.pac-target-input) {
        @extend %input-style;
      }
    }
  }

  .optin-dimensions {
    margin-top: 32px;
    margin-bottom: 0;

    .help.error {
      text-indent: 30px;
    }
  }

  #btn-go-to-payment {
    margin: 32px auto 0 auto;
    font-size: 0;
    display: flex;
    justify-content: center;

    min-width: unset;
    width: 100%;
    max-width: 334px;

    &::after {
      content: 'Continuar para Pagamento';
      font-size: 14px;
      font-weight: bold;
    }

    @media(max-width: 768px) {
      z-index: 9999;
      position: fixed;
      bottom: 0;
      width: 100%;
      left: 0;
      margin: 0 !important;
      border-radius: 0 !important;
      max-width: 100%;

      &:disabled {
        opacity: 1;
      }
    }
  }

  .vtex-omnishipping-1-x-address {
    margin-top: 0px;
    margin-bottom: 0;

    > div {
      display: flex;
      flex-wrap: wrap;
    }

    p {
      clear: both;
      float: none;
      margin: 0;
      &.input.ship-checkboxNumberLabel.text {
        width: auto;
        align-self: flex-end;
        display: flex;
        align-items: center;
        margin-left: 10px !important;
        height: $inputHeight;
      }
    }
  }

  .vtex-omnishipping-1-x-SummaryItemContent {
    font-size: 14px;
    font-weight: bold;
    color: #000;
    margin-top: 16px;
    position: relative;

    .vtex-omnishipping-1-x-SummaryItemInfo {
      border: none;
      padding: 0;
    }

    .vtex-omnishipping-1-x-SummaryItemPrice {
      position: absolute;
      bottom: 34px;
      right: 12px;
      font-size: 16px;
      color: #006BEA;
      font-weight: 800;
    }

    .vtex-omnishipping-1-x-summaryPackage {
      background: #68AEFF1A;
      border-radius: 10px;
      padding: 13px;
      font-size: 16px;
      font-weight: 400;
      height: 61px;
      box-sizing: border-box;
      margin-top: 10px;

      .shp-summary-package-time {
        display: flex;

        &::before {
          content: '';
          background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="23" height="20" fill="none" xmlns:v="https://vecta.io/nano"><path d="M16.754 17.031a2.72 2.72 0 0 1-1.702-.586c-.465-.373-.767-.886-.851-1.445H8.764c-.083.559-.385 1.072-.85 1.445a2.72 2.72 0 0 1-1.702.586 2.72 2.72 0 0 1-1.702-.586c-.465-.373-.767-.886-.85-1.445H2.087c-.213 0-.417-.077-.567-.213s-.235-.322-.235-.516V3.646c0-.193.085-.379.235-.516s.354-.214.567-.214h12.375c.213 0 .417.077.567.214s.235.322.235.516v1.563h3.762c.453.009.889.156 1.239.419s.591.624.686 1.026l1.419 6.704a1.27 1.27 0 0 1-.01.607c-.053.199-.153.386-.294.546a1.52 1.52 0 0 1-.533.366 1.66 1.66 0 0 1-.654.124h-1.573c-.083.559-.385 1.072-.85 1.445a2.72 2.72 0 0 1-1.702.586zm0-3.75a1.66 1.66 0 0 0-.768.188 1.51 1.51 0 0 0-.552.49 1.32 1.32 0 0 0-.169.355c-.038.122-.057.247-.057.374.001.105.014.21.04.313.078.308.267.583.537.781s.617.312.97.313.695-.111.97-.312.459-.474.537-.781c.026-.103.04-.207.04-.312a1.31 1.31 0 0 0-.226-.729c-.136-.203-.326-.371-.553-.49a1.66 1.66 0 0 0-.768-.187zm-10.542 0a1.66 1.66 0 0 0-.768.188 1.51 1.51 0 0 0-.553.49 1.31 1.31 0 0 0-.226.729 1.31 1.31 0 0 0 .04.313c.078.308.267.583.537.781s.617.312.97.313.696-.111.97-.312.459-.474.537-.781c.026-.102.039-.207.04-.312a1.31 1.31 0 0 0-.226-.729 1.51 1.51 0 0 0-.553-.49 1.66 1.66 0 0 0-.768-.187zm10.542-.937c.549-.001 1.084.159 1.526.456.433.289.756.694.923 1.158h1.676a.42.42 0 0 0 .166-.025c.052-.019.1-.049.138-.087.034-.041.056-.089.067-.139s.009-.103-.004-.152l-.598-2.825h-2.983a.72.72 0 0 1-.483-.184c-.128-.117-.199-.276-.199-.441V7.814c0-.165.071-.324.199-.441a.72.72 0 0 1 .483-.184h2.233l-.071-.337c-.045-.165-.147-.312-.291-.421a.92.92 0 0 0-.509-.18h-3.762v6.528c.434-.283.955-.435 1.49-.435zm-10.542 0c.549-.001 1.084.159 1.526.456.433.289.756.694.923 1.158h5.458v-10H2.431v10h1.332c.167-.464.49-.869.923-1.158.441-.297.976-.457 1.525-.456zM17.9 8.021v1.875h2.572l-.397-1.875H17.9z" fill="%23000"/></svg>');
          width: 27px;
          height: 20px;
          background-repeat: no-repeat;
          margin-right: 10px;
        }

        > span {
          display: flex;
          flex-direction: column;

          &::after {
            content: 'Após aprovação do pagamento';
            font-size: 14px;
            margin-top: 5px;
          }
        }
      }
    }

    .address-summary > span {
      margin-bottom: 7px;
      display: inline-block;
    }

    .number {
      margin-left: 4px;
    }
  }

  .vtex-omnishipping-1-x-SummaryItemAddress {
    margin-bottom: 0;
  }

  .vtex-omnishipping-1-x-SummaryItemGroup {
    padding-top: 0;
  }

  .link-change-shipping {
    display: none;
  }

  .vtex-omnishipping-1-x-warning {
    margin-top: 16px;
  }

  .glide__track {
    width: 100%;
    max-width: 90vw;
  }
}

.v-custom-step-shipping .vtex-omnishipping-1-x-deliveryChannelsTogglePickup {
  border: 0 !important;
  background: none !important;
}
.v-custom-step-shipping .vtex-omnishipping-1-x-deliveryOptionActive {
  background: #000 !important;
  border: 0 !important;
}
.v-custom-step-shipping .vtex-omnishipping-1-x-deliveryChannelsWrapper {
  box-shadow: none !important;
}
.v-custom-step-shipping .shp-method-option-text {
  position: relative;
  font-size: 14px;
  font-family: SamsungOne;
  text-transform: capitalize !important;
  font-weight: 700;
}
.v-custom-step-shipping .shipping-has-pickups {
  max-width: 200px !important;
}
.v-custom-step-shipping .vtex-omnishipping-1-x-PickupPointInfo {
  background: #f5f7fe !important;
  border: 0 !important;
  text-align: left;
}
.v-custom-step-shipping .pickup-marker-blue {
  // display: none;
}
.v-custom-step-shipping .vtex-omnishipping-1-x-PickupPointName {
  color: #006bea !important;
  font-size: 14px !important;
  font-family: SamsungOne;
  font-weight: 700;
}
.v-custom-step-shipping .vtex-omnishipping-1-x-PickupPointAddress {
  line-height: 16px;
  margin-top: 5px;
  font-size: 14px !important;
  font-family: SamsungOne;
  font-weight: 400;
  text-align: left;
}
.v-custom-step-shipping .vtex-omnishipping-1-x-findPickup {
  text-align: center;
}
.v-custom-step-shipping .vtex-omnishipping-1-x-pickupPointChange {
  display: inline-block !important;
}
.v-custom-step-shipping .vtex-omnishipping-1-x-pickupPointChange {
  margin-top: 5px;
  font-size: 12px !important;
  font-family: SamsungOne;
  border: 0 !important;
  height: auto !important;
  max-width: none !important;
  font-weight: 400 !important;
  text-decoration: underline;
  color: #000;
  &:hover {
    background: none !important;
  }
}
.v-custom-step-shipping .vtex-omnishipping-1-x-packages {
  margin-top: 0 !important;
}
.v-custom-step-shipping .vtex-omnishipping-1-x-shippingSectionTitle,
.v-custom-step-shipping .vtex-omnishipping-1-x-receiverTitle,
[for="pickup-receiver"] {
    color:#000;
    font-weight: 600 !important;
    font-size: 14px !important;
    font-family: SamsungOne;
    display: block;
    margin: 10px 0 10px;
}
.v-custom-step-shipping .vtex-omnishipping-1-x-shippingSectionTitle {
  margin-bottom: 10px !important;
  margin-top: 20px;
}
.v-custom-step-payment .vtex-omnishipping-1-x-SummaryItemTitle {
  margin-top: 16px;
}
.vtex-omnishipping-1-x-sellerOptionsText {
  color: #000000;
  font-family: SamsungOne;
  font-weight: 700 !important;
  font-size: 18px;
  &:after {
    content: 'Produtos de Loja Online Samsung';
    color: #000;
    font-weight: 400 !important;
    font-size: 12px !important;
    font-family: SamsungOne;
    display: block;
    margin: 10px 0 10px;
  }
}

.vtex-omnishipping-1-x-deliverTitle {
    color: #000000;
    font-family: SamsungOne;
    font-weight: 700 !important;
    font-size: 18px;

    + .vtex-omnishipping-1-x-addressFormPart1 {
      order: 2;
    }
}
.v-custom-step-shipping .vtex-omnishipping-1-x-alert {
  display: none !important;
}

.pkpmodal {
  border: none !important;
  z-index: 99999 !important;
    @media (min-width: 1024px){
      height: 530px !important;
    }
  .pkpmodal-close {
    box-shadow: none;
  }
  .pkpmodal-info-bar {
    @media (max-width: 1023px) {
      overflow-y: scroll;
    }
  }
  .pkpmodal-info-bar-container {
    border-radius: 20px;
    .pkpmodal-location-summary {
      font-size: 16px;
      button {
        color: #006bea;
        text-decoration: underline;
      }
    }
    .pkpmodal-header {
      padding: 24px 0 20px 24px;
      border-bottom: none;
      .pkpmodal-title {
        color: #000;
        font-size: 24px;
        font-family: 'SamsungSharpSans';
        font-weight: 700;
      }
    }
    .pkpmodal-points-list {
      p {
        color: #000;
        font-size: 12px;
      }
      .pkpmodal-pickup-point {
        background-color: #f5f7fe;
        .pkpmodal-pickup-point-name {
          color: #006bea;
          font-size: 14px;
        }
        .pkpmodal-pickup-point-address {
          span {
            font-size: 14px;
            color: #000;
          }
        }
        .pkpmodal-pickup-point-available {
          font-size: 12px;
          font-weight: 700;
          color: #000;
        }
        .pkpmodal-pickup-point-sla-availability {
          font-size: 12px;
          color: #000;
          .pkpmodal-pickup-point-sla {
            visibility: hidden;
          }
          .pkpmodal-pickup-point-sla::before {
            visibility: visible;
            content: 'Retirada após confirmação que será enviada via e-mail.';
          }
        }
      }
      #pkpmodal-show-list-btn {
        background-color: #000;
        color: #fff;
        font-size: 14px;
        font-weight: 700;
        border-radius: 20px;
        border: none;
      }
    }
    @media (max-width: 1023px) {
      background-color: #fff;
      margin-top: 75px;
      height: fit-content;
    }
  }
  .pkpmodal-info-bar {
    .pkpmodal-details-top {
      display: flex;
      align-items: center;
      button {
        color: #000;
        svg {
          path {
            fill: #000;
          }
        }
      }
    }
    .pkpmodal-details-header {
      border: none;
      p {
        font-size: 24px;
        font-weight: 700;
        color: #000;
        font-family: 'SamsungSharpSans';
      }
      .pkpmodal-details-header-button {
        border-left: none;
      }
    }
    .pkpmodal-pickup-point {
      background-color: #f5f7fe;
      .pkpmodal-pickup-point-name {
        color: #006bea;
        font-size: 14px;
      }
      .pkpmodal-pickup-point-address {
        span {
          font-size: 14px;
          color: #000;
        }
      }
      .pkpmodal-pickup-point-available {
        font-size: 12px;
        font-weight: 700;
        color: #000;
      }
      .pkpmodal-pickup-point-sla-availability {
        font-size: 12px;
        color: #000;
        .pkpmodal-pickup-point-sla {
          visibility: hidden;
        }
        .pkpmodal-pickup-point-sla::before {
          visibility: visible;
          content: 'Retirada após confirmação que será enviada via e-mail.';
        }
      }
    }
    .pkpmodal-details-info {
      .pkpmodal-details-info-title {
        color: #000;
        font-size: 14px;
      }
      td {
        color: #000;
      }
    }
    .pkpmodal-details-bottom {
      display: flex;
      justify-content: center;
      button {
        background-color: #000;
        font-size: 14px;
        font-weight: 700;
        width: 169px;
        border-radius: 20px;
        border: none;
      }
    }
  }
}

.estimate-shipping {
  margin: 0;
}

.container {
  .checkout-container {
    .pickup-and-delivery-class {
      .step.shipping-data {
        .vtex-omnishipping-1-x-deliveryGroup {
          order: 1 !important;
        }
        .vtex-omnishipping-1-x-shippingSectionTitle {
          display: block !important;
          font-size: 14px !important;
          &:nth-child(3) {
            font-size: 14px !important;
          }
        }
        .vtex-omnishipping-1-x-deliveryGroup {
          + .vtex-omnishipping-1-x-shippingSectionTitle {
            font-size: 0 !important;
          }
        }
        #delivery-packages-options {
          + .vtex-omnishipping-1-x-shippingSectionTitle {
            &:after {
              display: none;
            }
          }
        }
        .vtex-omnishipping-1-x-addressForm {
          + .vtex-omnishipping-1-x-shippingSectionTitle {
            font-size: 0 !important;
          }
        }
      }
    }
  }
}