$desktop-breakpoint: 768px;

#warning-modal-tradein {
    position: fixed;
    z-index: 2;
    top: 92px;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    .container-warning-modal-tradein {
        width: 100%;
        max-width: 602px;
        height: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: #313131 0% 0% no-repeat padding-box;
        border-radius: 6px;
        padding: 0 22px;
        margin: 0 39px;
        transition: all 0.5s ease-out allow-discrete;
        
        &.active {
            height: initial;
            padding: 10px 22px;
        }

        @media screen and (max-width: $desktop-breakpoint) {
            flex-direction: column;
            align-items: flex-start;
        }

        .text-warning-modal-tradein {
            color: #fff;
            margin: 0;
            line-height: 19px;

            @media screen and (max-width: $desktop-breakpoint) {
                font-size: 12px;
                line-height: 16px;
            }
        }

        .action-warning-modal-tradein {
            color: #fff;
            margin: 0;
            text-decoration: underline;
            font-weight: bold;
            line-height: 16px;

            @media screen and (max-width: $desktop-breakpoint) {
                margin-top: 15px;
                font-size: 12px;
                line-height: 16px;
            }
        }
    }
}

#warning-modal-tradein-update {
    position: fixed;
    z-index: 2;
    top: 92px;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    .container-warning-modal-tradein-update {
        width: 100%;
        max-width: 602px;
        height: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: #313131 0% 0% no-repeat padding-box;
        border-radius: 6px;
        padding: 0 22px;
        margin: 0 39px;
        transition: all 0.5s ease-out allow-discrete;
        height: initial;
        padding: 10px 22px;

        &.inactive {
            display: none;
        }

        @media screen and (max-width: $desktop-breakpoint) {
            flex-direction: column;
            align-items: flex-start;
        }

        .text-warning-modal-tradein-update {
            color: #fff;
            margin: 0;
            line-height: 19px;

            @media screen and (max-width: $desktop-breakpoint) {
                font-size: 12px;
                line-height: 16px;
            }
        }

        .action-warning-modal-tradein-update {
            color: #fff;
            margin: 0;
            text-decoration: underline;
            font-weight: bold;
            line-height: 16px;

            @media screen and (max-width: $desktop-breakpoint) {
                margin-top: 15px;
                font-size: 12px;
                line-height: 16px;
            }
        }
    }
}